@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    font-family: "Merriweather", serif;
    
}

/* banner section styles start here */
.banner-container{
max-width: 1320px;
margin: 0 auto;
min-height:600px;
margin-top:20px;
background-image:url(../new-year-offer-resources/images/Banner\ Image.png);
background-position: center;
background-repeat:no-repeat;
background-size:cover;
background-color: rgb(0,0,0,0.5);
background-blend-mode: overlay;
border-radius: 16px;

}
.banner-content{
    display:flex;
    flex-direction:column;
    justify-content: center;
    height:600px;
    align-items: center;
    
}
.banner-content p,h1{
    color:white;
}

.banner-content p{
font-size: 32px;
font-weight: 400;  
}

.banner-content h1{
    font-size: 72px;
    font-weight: 700;  
    }

  /* 65% section styles start here */

  .second-section-container{
    width: 802.9px;
    height: 806px;
    margin:0 auto;
    margin-top: 90px;
    
  }

  .second-section-content{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

  }
  .second-section-content h1{
color: rgb(255, 0, 0);
font-family: Inter;
font-size: 88px;
font-weight: 700;
}
  .second-section-content p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top:48px;
}
  .second-section-content h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.image-container{
    width: 802.9px;
    height: 651px;
}
.image-container img{
    width: 100%;
    height: 100%;
}
/* midnight party styles start here */
.midnight-party-container{
    width: 1320px;
    height: 600px;
    margin:0 auto;
    margin-top: 120px;
    display:flex;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: overlay;
    background-image: url(../new-year-offer-resources/images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:100px;
}

.leftside-content{
    width:50%;
    width: 642px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.leftside-content h2{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
}
.leftside-content p{
color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-left:45px;
margin-top: 20px;
margin-bottom:30px;
}

.rightside-content{
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
      
}

.rightside-content img{
    width: 349.16px;
    height: 464.65px;
} 

#midnight-button{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
margin-right: 400px;
}

/* Holiday styles  */

.holiday-section-container{
    width: 1320px;
    height: 986.07px;
    /* border:2px solid red;  same it is used for own understanding to identify side*/
    margin:0 auto;
    position: relative;
}

.holiday-text-container{

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 1068px;
    height: 260px;
    margin: 0 auto;
}

.holiday-text-container h5{
color: rgb(7, 2, 17);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
}
.holiday-text-container h2{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
}
#holiday{
 color: rgb(255, 0, 0);
}

.holiday-text-container p{
color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;
text-align: center;
}

.solid-color{
    width: 1320px;
    height: 229px; 
    background-color: red; 
    position: absolute;
    top: 77%;  
}

.giftbox{
    width: 796.46px;
    height: 662.07px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.discount-offer{
    width: 305.69px;
    height: 305.69px;
    margin-left:150px; 
    margin-bottom:150px; 
}

/* Portfolio style start */

.portfolio-container{
    width: 1320px;
    height: 1163px;
    /* border: 2px solid red; it is used for own understanding */
    margin: 0 auto;
    margin-top: 120px;
}

.portfolio-text-content h5{
color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}

.portfolio-text-content h2{
color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
margin-top:10px;
}
.portfolio-text-content p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top:10px;
}

.portfolio-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.item{
    width: 424px;
    height: 450px;
    
}

.item img{
    width: 100%;
    height: 100%
}

/* footer style section */

.footer-container{
    width: 1320px;
    height: 609px;
    border: 2px solid red;
    margin:0 auto;
    background: rgb(7, 2, 17);
   
}

.footer-first-section{
    color:#ffffff;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 50px;
}

.contact{
    display: flex;
    color: white;   
}
.hr{
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
}

.social-icons{
    width: 400px;
    margin: 0 auto;
    margin-top: 120px;
    display:flex;
    justify-content: space-evenly;
}

.footer-end-text{
    width: 90%;
    margin: 0 auto;
    color:#ffffff;
    display: flex;
    justify-content: space-between;
    margin-top:10px;
}


